#myCanvas {
    border:1px blanchedalmond solid; 
    border-radius: 20px;
    background-color: white;
    
    float: left;
    width: 600;
    position: relative;
    left: 75px;

    z-index: 1;
    cursor: url(image/pen.png), default;
}
#setting {
    width: 30%;
    /* height: 60%; */
    position: relative;
    right: 75px;
    float: right;
    background-color: blanchedalmond;
    border-radius: 20px;
}
#function {
    width: 30%;
    height: 60%;
    position: relative;
    right: 75px;
    top: 50px;
    float: right;
    background-color: blanchedalmond;
    border-radius: 20px;
}
td {
    text-align: center;
    /* border: 1px black solid; */
    border-collapse: collapse;
    padding: 10px;
    width: 60%;
}
th {
    text-align: right;
    padding: 10px;
    width: 25%;
}
body {
    background: gray;
    background: url(image/img2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Arial";
}
h1 {
    font-size: 48px;
    text-align: center;
    color: midnightblue;
    font: bolder;
    position: relative;
    top: 15px;
    font-family: "Arial";
    /* background-color: midnightblue; */
}

label {
    cursor: pointer;

}
.btn {
    width: 100%;
    height: 40px;
    background: darkolivegreen;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: none;
    border: 0;
    opacity: 0.6;
    cursor: pointer;
}
.btn:hover {
    opacity: 1;
}
#inp {
    display: none;
    position: absolute;
    z-index: 2;
}